@import url('https://fonts.googleapis.com/css2?family=Clarity+City:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-colour: #121212;
  --primary-text-colour: #E0E0E0;
  --secondary-text-colour: #B0B0B0;
  --border-colour: #444444;
  --accent-colour: #888888;
}

* {
  box-sizing: border-box;
  font-family: 'Clarity City', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--primary-text-colour);
}

html {
  background-color: var(--background-colour);
}

body {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  margin: 10%;
  min-height: 60vh;

  /* border: 2px solid greenyellow; */
}

.title {
  margin-bottom: 2rem;
}

.library {
  border: .25rem solid var(--accent-colour);
  flex: 1;
  margin-bottom: 1vh;
  min-width: 100%;
  padding: 2rem;

  /* Gridbox stuff, 4 x n. */
  /* Scrollable */
  display: grid;
  overflow: auto;
  grid-template-columns: repeat(4, 1fr);
}

.library > * {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: solid var(--accent-colour);
  
  border-width: .25rem 0 .25rem .25rem;
}

.library > div:nth-child(4n) {
  border-right: .25rem solid var(--accent-colour);
}

button {
  align-self: stretch;
  color: var(--background-colour);
  font-size: larger;
  min-height: 3vh;
}

button:hover {
  cursor: pointer;
}