@import url('https://fonts.googleapis.com/css2?family=Clarity+City:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-colour: #121212;
  --primary-text-colour: #E0E0E0;
  --secondary-text-colour: #B0B0B0;
  --border-colour: #444444;
  --accent-colour: #888888;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Clarity City', Arial, Helvetica, sans-serif;
}

html {
  background-color: var(--background-colour);
}

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 10%;
  min-height: 60vh;

  /* border: 2px solid greenyellow; */
}

h1 {
  color: var(--primary-text-colour);
}

.title {
  margin-bottom: 2rem;
}

.library {
  border: 2px solid var(--accent-colour);
  flex: 1;
  min-width: 100%;
  padding: 2rem;
}